<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="author" content="SEAN MICKEY XIE QI PENG ORANGE OHMY N.120.4.2018.1.13"/>
   <link rel="stylesheet" href="/assets/css/app.css" type="text/css" />
   <script type="text/javascript" src="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/3.0.0/vconsole.min.js"></script>
 </head>
 <body>
   <div class="content">
   {{ content }}
   </div>
   <div id="tool" class="tools">
     <!-- some tools here -->
   </div>
    <script type="text/javascript" src="/assets/js/app.js"></script>
 </body>
</html>
